---
import { FAQ } from '@/components/FAQ'
import { Button } from '@/components/ui/button'
import { Input } from '@/components/ui/input'
---

<section class="px-6 border-border">
  <div class="max-w-[1400px] mx-auto flex flex-col gap-12 py-12">
    <h2 class="text-3xl sm:text-4xl font-bold px-6 sm:px-8 py-4 sm:py-6 border-dashed border-[1px] text-center grid-bg rounded-md">Часто задаваемые вопросы</h2>

    <FAQ client:load />

    <form class="w-full bg-linear-to-tr from-primary/50 to-sky-600 flex flex-col gap-6 sm:gap-10 rounded-xl px-10 py-6 lg:px-16 lg:py-12 mt-4">
      <div class="flex flex-col gap-2 text-white">
        <h2 class="text-3xl sm:text-4xl font-bold">Получите консультацию</h2>
        <p class="text-base sm:text-lg">Свяжитесь с нашими менеджерами и получите ответы на все ваши вопросы.</p>
      </div>
      <div class="grid grid-cols-1 lg:grid-cols-4 gap-4">
        <label>
          <Input placeholder="Имя" className="placeholder:text-white text-white focus-visible:ring-0 focus-visible:border-input h-10" />
        </label>
        <label>
          <Input placeholder="Номер телефона" type="tel" className="placeholder:text-white text-white focus-visible:ring-0 focus-visible:border-input h-10" />
        </label>
        <label>
          <Input placeholder="Электронная почта" type="email" className="placeholder:text-white text-white focus-visible:ring-0 focus-visible:border-input h-10" />
        </label>
        <Button variant="secondary" className="h-10">Получить консультацию</Button>
      </div>
    </form>
  </div>
</section>
