---
import LogoImg from '@/assets/images/logo.png'
import { Image } from 'astro:assets'

---

<a href="/" class="inline-flex items-center gap-2">
  <Image src={LogoImg} alt="Лого" class="size-10" />
  <h1 class="uppercase font-medium text-lg sm:text-xl">Договор водопользования</h1>
</a>
