---
import { contacts } from '@/lib/contacts'
import {
  LuBuilding2,
  LuFileText,
  LuFish,
  LuHammer,
  LuListChecks,
  LuScale,
} from 'react-icons/lu'
import ButtonLink from './ui/button-link.astro'

const services = [
  {
    title: 'Договор водопользования',
    items: [
      'Аренда акватории',
      'Стоянка плавательных средств',
      'Размещение катамаранов, сап бордов',
      'Установка понтонов, хаусботов',
    ],
    additionalHeight: 0,
    icon: LuFileText,
    rotation: 15,
  },
  {
    title: 'Решение о предоставление водного объекта',
    items: [
      'Строительство и реконструкция ГТС',
      'Работы по берегоукреплению',
      'Проведение дноуглубительных работ',
    ],
    additionalHeight: 0,
    icon: LuHammer,
    rotation: -15,
  },
  {
    title: 'Мелиорация',
    items: [
      'Забор воды из водного объекта',
      'Сброс сточных вод',
    ],
    additionalHeight: 0,
    icon: LuBuilding2,
    rotation: 15,
  },
  {
    title: 'Юридические услуги',
    items: [
      'Обжалование отказов в предоставлении водного объекта',
      'Защита интересов по делам о нарушении водного законодательства',
      'Представление интересов по административным делам',
      'Обжалование решений о предоставлении водных объектов третьим лицам',
    ],
    additionalHeight: 10,
    icon: LuScale,
    rotation: 15,
  },
  {
    title: 'Рыбоводство',
    items: [
      'Договор пользования рыбоводным участком',
      'Прудовая аквакультура',
      'Расчет ущерба водных биологических ресурсов',
    ],
    additionalHeight: 10,
    icon: LuFish,
    rotation: -15,
  },
  {
    title: 'Дополнительные услуги',
    items: [
      'Внесение в реестр туроператора, турагента',
      'Сдача экологических отчетов',
      'Проект производства работ',
      'Оценка воздействия на водные биологические ресурсы',
    ],
    additionalHeight: 10,
    icon: LuListChecks,
    rotation: -15,
  },
]
---

<section class="px-6 bg-radial-[at_50%_0%] to-75% from-primary/20 border-border border-b-1 border-dashed" id="services">
  <div class="max-w-[1400px] mx-auto flex flex-col gap-8 sm:gap-10 py-12">
    <div class="flex flex-col gap-4">
      <div class="flex items-center justify-center w-full gap-4">
        <div class="hidden md:flex items-center">
          <div class="h-[1px] bg-foreground w-24 sm:w-32"></div>
          <div class="w-[1px] bg-foreground h-4 sm:h-5"></div>
        </div>
        <h2 class="text-center text-2xl sm:text-4xl uppercase tracking-widest">Наши услуги</h2>
        <div class="hidden md:flex items-center">
          <div class="w-[1px] bg-foreground h-4 sm:h-5"></div>
          <div class="h-[1px] bg-foreground w-24 sm:w-32"></div>
        </div>
      </div>
      <p class="text-muted-foreground text-base sm:text-lg text-center text-balance">
        Полный цикл оформления документов на водные объекты — от консультации до регистрации.
      </p>
    </div>

    <ul class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-8 sm:gap-12">
      {services.map((service, index) => {
        const Icon = service.icon
        const isOdd = index % 2 === 0
        return (
          <li class={`py-6 px-8 flex flex-col gap-4 rounded-lg !border-t-0 !border-r-0 border-[1px] sm:border-2 ${isOdd ? 'border-sky-600 before:absolute before:size-full before:-bottom-4 before:-left-4 before:bg-sky-600/10 before:rounded-lg before:-z-10' : 'border-primary'} relative`}>
            <div class={`absolute rounded-tl-lg border-t-[1px] sm:border-t-2 ${isOdd ? 'border-sky-600' : 'border-primary'} top-0 left-0 h-full w-[91%] sm:w-[85%] -z-10`}></div>
            <div class={`absolute rounded-br-lg border-r-[1px] sm:border-r-2 ${isOdd ? 'border-sky-600' : 'border-primary'} bottom-0 right-0 w-[85%] -z-10`} style={{ height: `${65 + service.additionalHeight}%` }}></div>
            <h3 class="text-lg sm:text-xl font-bold">{service.title}</h3>
            <ul class="flex flex-col gap-2">
              {service.items.map(item => (
                <li class="text-sm list-disc list-inside sm:text-base text-balance text-muted-foreground">{item}</li>
              ))}
            </ul>
            <Icon className={`size-10 sm:size-14 ${isOdd ? 'text-sky-600' : 'text-primary'} absolute -top-4 -right-4`} style={{ transform: `rotate(${service.rotation}deg)` }} />
          </li>
        )
      })}
    </ul>

    <ButtonLink href={contacts.phone.whatsappUrl} target="_blank" variant="outline" class="text-xl h-13 px-8 py-6 self-center">
      Узнать подробнее
    </ButtonLink>
  </div>
</section>
